   <div class="form-container"> 
    <form ng-submit="$ctrl.addSellerInfo(sellerinfo)" id="sellerinfo" name="sellerinfo" class="seller-info-form" novalidate>
        <div class="heading">{{$ctrl.name}}</div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Seller Name*</label>  
            <div class="col-sm-8" >
                <input ref="sellername" name="sellername" type="text" class="form-control" ng-class="{'form-error-field': sellerinfo.sellername.$invalid && !sellerinfo.sellername.$pristine}" id="sellername" ng-model="$ctrl.sellerinfo.name" required autocomplete="off"/>
                <p ng-show="sellerinfo.sellername.$invalid && !sellerinfo.sellername.$pristine" class="help-block sellerForm-validation-text">Please enter seller name</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Currencies*</label>  
            <div class="col-sm-8">
                <multiselect-dropdown options="$ctrl.currencyList" title="'Currencies'" selected-model="$ctrl.sellerinfo.currency"></multiselect-dropdown>
                <p ng-show="$ctrl.isCurrencyNotSelected && $ctrl.sellerinfo.currency.length <=0" class="help-block sellerForm-validation-text">Please select currency</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Offices*</label>
            <div class="col-sm-8">
                <multiselect-dropdown options="$ctrl.officeList" title="'Offices'" selected-model="$ctrl.sellerinfo.office"></multiselect-dropdown>
                <p ng-show="$ctrl.isOfficeNotSelected && $ctrl.sellerinfo.office.length <= 0" class="help-block sellerForm-validation-text">Please select office</p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Deal Type*</label>  
            <div class="form-check">
                <div class="deals bided-deals col-sm-12">
                    <label class="form-check-label custom-checkbox-container">Bided
                        <input type="checkbox" class="form-check-input" ng-checked="$ctrl.sellerinfo.biddeddeal == 'Yes'"  ng-true-value="'Yes'" 
                    ng-false-value="'No'" id="bided" name="bided" value="" ng-model="$ctrl.sellerinfo.biddeddeal">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="deals guranteed-deals col-sm-12">
                   <label class="form-check-label custom-checkbox-container">Guranteed
                        <input type="checkbox" class="form-check-input" ng-true-value="'Yes'" 
                    ng-false-value="'No'" ng-checked="$ctrl.sellerinfo.guarunteeddeal == 'Yes'" id="guaranteed" name="guaranteed" value="" ng-model="$ctrl.sellerinfo.guarunteeddeal">
                        <span class="checkmark"></span>
                    </label>
                    <p ng-show="$ctrl.isDealNotSelected" class="help-block sellerForm-validation-text">Please select deal type</p>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Contact Name</label>
            <div class="col-sm-8">
                <input ref="contactname" type="text" class="form-control" id="contactname" ng-model="$ctrl.sellerinfo.contactname" autocomplete="off"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
                <input ref="email" type="email" name="email" class="form-control" id="email" ng-model="$ctrl.sellerinfo.email" autocomplete="off"/>
                <p ng-show="sellerinfo.email.$invalid" class="help-block sellerForm-validation-text">Enter correct email </p>

            </div>
        </div>

        <div class="button-container">
            <input type="button" class="btn btn-secondary" value="Cancel" ng-click="$ctrl.cancelForm(sellerinfo)"/>
            <input type="submit" class="btn btn-primary" ng-disabled="sellerinfo.$invalid" ng-hide="$ctrl.isEdit" value="Save"/>
            <input type="submit" class="btn btn-primary" ng-disabled="sellerinfo.$invalid" ng-hide="!$ctrl.isEdit" value="Update"/>
        </div>
    </form>
</div>