<div class="container">
    <form ng-submit="$ctrl.addSellerInfo(sellerinfo)" id="sellerinfo" name="sellerinfo" class="seller-info-form" novalidate>
      <h1>Seller Form</h1>
      <div>
        <div class="form-group row">
                <label class="col-sm-3 col-form-label">Seller Name*</label>  
                <div class="col-sm-9" >
                    <input ref="sellername" name="sellername" type="text" class="form-control" ng-class="{'form-error-field': sellerinfo.sellername.$invalid && !sellerinfo.sellername.$pristine}" id="sellername" ng-model="$ctrl.sellerinfo.name" required/>
                    <p ng-show="sellerinfo.sellername.$invalid && !sellerinfo.sellername.$pristine" class="help-block sellerForm-validation-text">Please enter name</p>
                </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Currencies*</label>  
            <div class="col-sm-9">
                <select multiple id="currencyvalue" class="form-control" name="currencyvalue" ng-class="{'form-error-field': sellerinfo.currencyvalue.$invalid && !sellerinfo.currencyvalue.$pristine}" ng-model="$ctrl.sellerinfo.currency" required>
                    <option value="">Select Currency</option>
                    <option value="USD">USD</option>
                    <option value="GBP">GBP</option>
                    <option value="INR">INR</option>
                    <option value="RMB">RMB</option>
                </select>
                <p ng-show="sellerinfo.currencyvalue.$invalid && !sellerinfo.currencyvalue.$pristine" class="help-block sellerForm-validation-text">Please select currency</p>
            </div>
          </div>
  
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Offices*</label>
            <div class="col-sm-9">
                  <select multiple id="officeval" class="form-control" name="officeval" ng-class="{'form-error-field': sellerinfo.officeval.$invalid && !sellerinfo.officeval.$pristine}" ng-model="$ctrl.sellerinfo.office" required>
                    <option value="">Select Office</option>
                    <option value="CA">CA</option>
                    <option value="AHD">AHD</option>
                    <option value="LND">LND</option>
                    <option value="DL">DL</option>
                </select>
                <p ng-show="sellerinfo.officeval.$invalid && !sellerinfo.officeval.$pristine" class="help-block sellerForm-validation-text">Please select your office</p>
            </div>
        </div>
  
        <div class="form-group form-check row">
            <label class="col-sm-3 col-form-label">Deal Type</label>  
            <div class="col-sm-9">
                <span class="bided-deals col-sm-12">
                    <input type="checkbox" class="form-check-input" ng-checked="$ctrl.sellerinfo.biddeddeal == 'Yes'"  ng-true-value="'Yes'" 
                      ng-false-value="'No'" id="bided" name="bided" value="" ng-model="$ctrl.sellerinfo.biddeddeal">
                    <label class="form-check-label">Bided</label>
                </span>
                <span class="guranteed-deals col-sm-12">
                    <input type="checkbox" class="form-check-input" ng-true-value="'Yes'" 
                    ng-false-value="'No'" ng-checked="$ctrl.sellerinfo.guarunteeddeal == 'Yes'" id="guaranteed" name="guaranteed" value="" ng-model="$ctrl.sellerinfo.guarunteeddeal">
                    <label class="form-check-label">Guranteed</label>
                    <p ng-show="$ctrl.isDealNotSelected" class="help-block sellerForm-validation-text">Please choose option</p>
                </span>
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Contact Name</label>
            <div class="col-sm-9">
                <input ref="contactname" type="text" class="form-control" id="contactname" ng-model="$ctrl.sellerinfo.contactname"/>
            </div>
        </div>
  
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
              <input ref="email" type="email" class="form-control" id="email" ng-model="$ctrl.sellerinfo.email"/>
          </div>
        </div>

        <div class="form-group row button-container">

          <input type="button" class="btn btn-primary" value="Cancel" ng-click="$ctrl.cancelForm(sellerinfo)"/>
          <input type="submit" class="btn btn-primary" ng-disabled="sellerinfo.$invalid" ng-hide="$ctrl.isEdit" value="Save"/>
          <input type="submit" class="btn btn-primary" ng-disabled="sellerinfo.$invalid" ng-hide="!$ctrl.isEdit" value="Update"/>

      </div>
      </div>
    </form>
  
    <div class="seller-info-list">
      <h1>Seller List</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Currencies</th>
            <th scope="col">Offices</th>
            <th scope="col">Bidded Deals</th>
            <th scope="col">Guaranteed Deals</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="seller in $ctrl.sellerList track by $index">
            <th scope="row">{{seller.name}}</th>
            <td>{{seller.currency.toString()}}</td>
            <td>{{seller.office.toString()}}</td>
            <td>{{seller.biddeddeal}}</td>
            <td>{{seller.guarunteeddeal}}</td>
            <td><button class="edit-seller-info btn btn-default glyphicon glyphicon-pencil" ng-disabled="$ctrl.isEdit" ng-click="$ctrl.editInfo(seller.id)"></button></td>
            <td><button class="delete-seller-info btn btn-default glyphicon glyphicon-trash" ng-disabled="$ctrl.isEdit" ng-click="$ctrl.deleteInfo(seller.id)"></button></td>
          </tr>
        </tbody>
      </table>
    </div> 
  </div>
  